<ul *ngFor="let carta of cartas" [ngSwitch]="carta.icono">
  <li
    *ngSwitchCase="'♥'"
    [ngStyle]="{ color: randomColor ? getColor() : 'black' }"
  >
    {{ carta.icono }} = Rojo de Corazones
  </li>
  <li
    *ngSwitchCase="'♦'"
    [ngStyle]="{ color: randomColor ? getColor() : 'black' }"
  >
    {{ carta.icono }} = Rojo de Diamantes
  </li>
  <li
    *ngSwitchCase="'♠'"
    [ngStyle]="{ color: randomColor ? getColor() : 'black' }"
  >
    {{ carta.icono }} = Negro de Picas
  </li>
  <li
    *ngSwitchCase="'♣'"
    [ngStyle]="{ color: randomColor ? getColor() : 'black' }"
  >
    {{ carta.icono }} = Negro de Trébol
  </li>
</ul>
